body#fuild-container {

  margin: 0;
  padding: 0;
  font-size: 20px;
  
  color: BLACK;
  }
  p {
  line-height: 170%;
  text-indent: 30px;
  color:black;
  
  }
  a {
  color: black;
  text-decoration: none;
  }
  a:hover { color: #F286FF; }
  abbr {
  font-style: normal;
  color: black;
  cursor: help;
  }
  
  
  /*POSITIONING======================================*/
  .page-wrapper {
  position: relative;
  background:#52b788 ;
  border-left: 5px solid #4c1975;
  border-right: 5px solid #4c1975;
  margin: 0 auto;
  width: 900px;
  height: 1200px;
  font-family:garamond;
  font-size: 18px;
  }
  img {
      display:block;
      margin-left: auto;
      margin-right: auto;
      width: 90%;
      padding:40px;
  
    }
  .intro {
  width: 100%;
  
  }
  
  header {
  width: 720px;
  height: 55px;
  }
  
  .preamble {
  margin-left: 50px;
  margin-right: 280px;
  
  }
  
  .sidebar {
  position: absolute;
  top: 600px;
  left: 870px;
  width: 300px;
  
  
  }
  footer {
  display: inline;
  left: 400px;
  padding: 25px 0px;
  text-align: center;
  text-transform: uppercase;
  
  }
  
  /*HEADERS======================================*/
  header h1,
  header h2 {
  display: none;
  }
  .preamble h3 {
  position: relative;
  left: -20px;
  display: block;
  height: 57px;
  
  text-indent: -1500px;
  }
  
  .sidebar .wrapper h3 {
  display: block;
  height: 35px;
  margin: 0px 30px;
  text-indent: -1500px;}
  
  
  /*LISTS======================================*/
  .sidebar ul {
  margin: 0 10px 0 35px;
  padding-left: 0;
  padding-bottom: 10px;
  list-style-type: none;
  font-size: 15px;
  }
  
  .design-selection ul li {
  padding-left: 15px;
  }
  
  .design-selection ul li a {
  margin-left: -25px;
  padding-left: 25px;
  
  line-height: 25px;
  text-decoration: none;
  display: block;
  clear: both;
  text-transform: uppercase;
  }
  .design-selection ul li a:hover {
  color: #e1bb80;
  
  }
  .design-selection ul li a.designer-name {
  margin-left: 0;
  padding-left: 0px;
  padding-right: 12px;
  background-image: none;
  display: inline;
  clear: none;
  text-transform: none;
  color: #c4a06b;
  }
  .design-selection ul li a.designer-name:hover {
  color: #e1bb80;
  
  }
  .design-selection ul li a.designer-name:hover { color: #F286FF; }
  
  
  
  